/**
 * Component Tokens - Sidebar
 * 
 * All sidebar-specific design tokens.
 */

:root {
  /* Sidebar */
  --nm-sidebar: var(--nm-color-gray-50);
  --nm-sidebar-foreground: var(--nm-color-gray-900);
  --nm-sidebar-primary: var(--nm-color-gray-800);
  --nm-sidebar-primary-foreground: var(--nm-color-gray-50);
  --nm-sidebar-accent: var(--nm-color-gray-100);
  --nm-sidebar-accent-foreground: var(--nm-color-gray-800);
  --nm-sidebar-border: var(--nm-color-gray-200);
  --nm-sidebar-ring: var(--nm-color-gray-300);
}

/* Dark Mode Overrides */
.dark {
  --nm-sidebar: var(--color-gray-800);
  --nm-sidebar-foreground: var(--color-gray-50);
  --nm-sidebar-primary: var(--color-chart-dark-1);
  --nm-sidebar-primary-foreground: var(--color-gray-50);
  --nm-sidebar-accent: var(--color-gray-dark-800);
  --nm-sidebar-accent-foreground: var(--color-gray-50);
  --nm-sidebar-border: var(--color-overlay-10);
  --nm-sidebar-ring: var(--color-gray-400);
}

@theme {
  /* Sidebar */
  --color-sidebar: var(--nm-sidebar);
  --color-sidebar-foreground: var(--nm-sidebar-foreground);
  --color-sidebar-primary: var(--nm-sidebar-primary);
  --color-sidebar-primary-foreground: var(--nm-sidebar-primary-foreground);
  --color-sidebar-accent: var(--nm-sidebar-accent);
  --color-sidebar-accent-foreground: var(--nm-sidebar-accent-foreground);
  --color-sidebar-border: var(--nm-sidebar-border);
  --color-sidebar-ring: var(--nm-sidebar-ring);
}
