/**
 * Component Tokens - Table
 * 
 * Minimal design tokens for table component.
 * Only includes tokens that are actually used in the component.
 */

:root {
  /*  Table Row */

  --nm-table-row-border-color: transparent;

  /*  Table Column */

  --nm-table-column-padding-x: 24px;
  --nm-table-column-padding-y: 8px;

  /*  Table Cell */

  --nm-table-cell-padding-x: 24px;
  --nm-table-cell-padding-y: 8px;
}

@theme {
  /*  Table Row */

  --color-table-row-border-color: var(--nm-table-row-border-color);

  /*  Table Column */

  --spacing-table-column-x: var(--nm-table-column-padding-x);
  --spacing-table-column-y: var(--nm-table-column-padding-y);

  /*  Table Cell */

  --spacing-table-cell-x: var(--nm-table-cell-padding-x);
  --spacing-table-cell-y: var(--nm-table-cell-padding-y);
}
