name: Release

on:
  push:
    branches:
      - main # Hanya trigger di main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release Beta
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enable Corepack
        run: corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Build Library
        run: yarn build

      - name: Publish Beta (From Main)
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # 1. Pastikan masuk mode pre (beta)
          yarn changeset pre enter beta

          # 2. Update version (misal: 1.0.1-beta.4 -> 1.0.1-beta.5)
          yarn changeset version

          # 3. Build (Opsional jika version masuk ke dalam code)
          yarn build

          # 4. Publish ke NPM dengan tag 'beta' 
          yarn changeset publish --tag beta

          # 5. Push perubahan version kembali ke main
          git add .
          git commit -m "chore: release beta version [skip ci]"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
